
<html>
  <head>
    <title>Laurelle</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="menuBar">
      <h1>Laurelle</h1>
      <div class="menuIcon" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <nav class="navigation">
        <ul>
          <li>home</li>
          <li>home</li>
          <li>home</li>
          <li>home</li>
          <li>home</li>
          <li>home</li>
        </ul>
      </nav>
    </div>
  </body>
</html>