//- layout.pug
html
  head
    title Laurelle
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    link(rel='stylesheet', href='./css/main.css')
    link(href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap",rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap",rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap",rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap",rel="stylesheet")
    script(src='./js/main.js')
    block head
  body
    .menuBar
      h1 Laurelle
      .menuIcon(onclick="myFunction(this)")
        .bar1
        .bar2
        .bar3
      nav.navigation
        ul
          li
            a(href="./") Home
          li
            a(href="./nagels.html") Nagels
          li
            a(href="./crafts.html") Crafts
          li
            a(href="./prijslijst.html") Prijslijst
          li
            a(href="./contact.html") Contact
    block content