//- layout.pug
html
  head
    title Laurelle
    link(rel='stylesheet', href='/css/main.css')
  body
    nav 
        ul
            li Home
            li Nagels
            li Wimpers
            li Contact
    block content