//- page-a.pug
extends template/main.pug

block head
    meta(name="description", content="Ontdek hier de manieren om contact op te nemen met mij")
    meta(name="keywords", content="Laurelle Nagels Contact mail instagram facebook locatie openingsuren route")

block content
    .section
        .pageExplanation
            .pageExplanationTitle Contact
            p.pageExplanationText
                |Ben je geïnteresseerd in mijn producten?
                |Hieronder kan je alle gegevens vinden om mij te bereiken. Tot gauw!

    .section
        .splitHorizontal.contacts
            .left
                h1 Contactgegevens
                .info
                    include icons/icon_phone.pug
                    span 0471/11.73.79
                .info
                    include icons/icon_envelope.pug
                    span laurencedeckers@msn.com
                .info
                    include icons/icon_facebook.pug
                    span 
                        a(href="https://www.facebook.com/Laurelle-106616221018615") Laurelle
                .info
                    include icons/icon_instagram.pug
                    span 
                        a(href="https://www.instagram.com/laurelle_nailsandlashes") /laurelle_nailsandlashes
                .info
                    include icons/icon_marker.pug
                    span Grote Heibergstraat 14<br/>2235 Hulshout
            .right
                .officeHours
                    h1 Openingsuren
                    table
                        tr
                            td Maandag
                            td Op afspraak
                        tr
                            td Dinsdag
                            td Op afspraak
                        tr
                            td Woensdag
                            td Op afspraak
                        tr
                            td Donderdag
                            td Op afspraak
                        tr
                            td Vrijdag
                            td Op afspraak
                        tr
                            td Zaterdag
                            td Gesloten
                        tr
                            td Zondag
                            td Gesloten