//- page-a.pug
extends template/main.pug

block head
    meta(name="description", content="Personaliseerbare spullen zijn de leukste! Ontdek hier het aanbod")
    meta(name="keywords", content="Laurelle Crafts Strandtas Boekenlegger Drinkbeker Personaliseren Bloemenkader Sticker")

block content
    .section
        .pageExplanation
            .pageExplanationTitle Crafts
            p.pageExplanationText
                |Personaliseerbare spullen zijn de leukste!
                |Ontdek hier het aanbod.
    .section
        .imageAndExplanationHorizontal
            .imageAndExplanationExplanation
                .imageAndExplanationExplanationTitle 
                    h1 Strandtas
                p 
                    |Deze strandtas is perfect om mee naar het strand of het zwembad te nemen. Personaiseerbaar met jouw naam, de naam van een vrien/partner/kennis of een sjabloon. Eigen ideetje zijn altijd welkom, samen zoeken we naar een mooi ontwerp!
            .imageAndExplanationImage
                img(src="./pictures/designs/Strandzak.jpeg")

    .section
        .imageAndExplanationHorizontalReverse
            .imageAndExplanationExplanation
                .imageAndExplanationExplanationTitle 
                    h1 Bloemenkader
                p 
                    |Wil je iemand eens op een andere manier in de bloemetjes zetten? Kies dan voor een bloemenkader, die je helemaal naar smaak kan laten personaliseren!
            .imageAndExplanationImage
                img(src="./pictures/designs/Bloemenkader.jpeg", style="padding: 20px; margin: -20px")
    
    .section
        .imageAndExplanationHorizontal
            .imageAndExplanationExplanation
                .imageAndExplanationExplanationTitle 
                    h1 Boekenlegger
                p 
                    |Deze leuke boekenlegger kan opgemaakt worden met het design dat jij wilt!
                p 
                    |Een cadeau? Laat gratis zijn/haar naam op de boekenlegger plaatsen!
            .imageAndExplanationImage
                img(src="./pictures/designs/Boekenlegger.jpeg")

    .section
        .imageAndExplanationHorizontalReverse
            .imageAndExplanationExplanation
                .imageAndExplanationExplanationTitle 
                    h1 Drinkbeker
                p 
                    |Een mooie glazen drinkbeker die zorgt voor verfrissing in de zomer, of voor verwarming in de winter. 
                p 
                    |Personaliseer hem met de leukste designs!
            .imageAndExplanationImage
                img(src="./pictures/designs/Drinkbeker.jpeg", style="padding: 20px; margin: -20px")
    .section
        .pageExplanation
            .pageExplanationTitle Design
            p.pageExplanationText
                |Ontdek hier nog leuke designs en sjablonen. Deze zijn allemaal personaliseerbaar, zowel het ontwerp als de kleuren, maten of het verwerken van je naam.
    .section
        .imageAndExplanationHorizontal
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3738.JPG")
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3739.JPG")
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3740.JPG")
    .section
        .imageAndExplanationHorizontal
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3741.JPG")
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3742.JPG")
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3743.JPG")
    .section
        .imageAndExplanationHorizontal
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3744.JPG")
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3745.JPG")
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3746.JPG")
    .section
        .imageAndExplanationHorizontal
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3747.JPG")
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3748.JPG")
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3749.JPG")
    .section
        .imageAndExplanationHorizontal
            .imageAndExplanationImage
                .templateImage
                    img.homeNails(src="./pictures/designs/IMG_3750.JPG")
    .section
        .pageExplanation
            .pageExplanationTitle Project
            p.pageExplanationText
                |Heb je een zot idee? Een kindje op komst of een groot project komende? Aarzel niet om mij in te schakelen voor hulp! Samen zorgen we dat je dromen uitkomen!
            