//- page-a.pug
extends template/main.pug

block content
    p
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus facilis quis officiis quasi quisquam reiciendis odio minima ullam exercitationem temporibus, consequatur accusamus voluptas earum, culpa aliquid cupiditate error? Aliquam, ex!