//- page-a.pug
extends template/main.pug

block head
    meta(name="description", content="Welkom bij Laurelle. Ontdek op deze website wat ik te bieden heb")
    meta(name="keywords", content="Laurelle Nagels Welkom")

block content
    .section
        .pageExplanation
            .pageExplanationTitle Welkom
            p.pageExplanationText Ik ben Laurence Deckers, gediplomeerd schoonheidsspecialiste sinds 2014. Na een opleiding als leerkracht en een jaartje werken in het onderwijs, heb ik besloten om mijn passie voor nagels en wimpers verder te zetten en een eigen zaak te starten in 2019. Mijn liefde voor het onderwijs speelt ook nog mee, dus heb ik gekozen om voltijds leerkracht te blijven en in mijn vrije uren te werken als nagel– en wimperstyliste. 
        
    .section.home
        .imageAndExplanation
            .imageAndExplanationImage
                a(href="./nagels.html")
                    img.homeNails(src="./pictures/nails-black.jpeg")
            .imageAndExplanationExplanation
                .imageAndExplanationExplanationTitle 
                    h1 
                        a(href="./nagels.html") Nagels
        .imageAndExplanation
            .imageAndExplanationImage
                a(href="./wimpers.html")
                    img.homeNails(src="./pictures/wimperextensions.jpeg")
            .imageAndExplanationExplanation
                .imageAndExplanationExplanationTitle 
                    h1 
                        a(href="./wimpers.html") Wimpers