extends template/main.pug

block content
    .prijslijst
        .section
            .heading
                h1 Nagels
                    span.price €
            .product
                p Gelish Handen
                    span.price 27
                p Gelish Voeten + Voetverzorging
                    span.price 37
                p Polygel
                    span.price 32
                p Polygel + Gelish
                    span.price 37
                p Verwijderen Gelish
                    span.price 12
                p Verwijderen Polygel
                    span.price 15
        .section
            .heading
                h1 Wimpers
                    span.price €
            .product
                p Wimperlifting
                    span.price 35
                p Wimperlifting + Semi permanente mascara
                    span.price 45
                p Semi-permanente mascara
                    span.price 15
                p Wimperextentions
                p.subproduct Allergietest
                    span.price 30
                p.subproduct Niewe set one by one
                    span.price 65
                p.subproduct Snelle bijwerking
                    span.price 30
                p.subproduct Soft bijwerking
                    span.price 40
                p.subproduct Glamour bijwerking
                    span.price 50
                
            