extends template/main.pug


block head
    meta(name="description", content="Ontdek hier de prijzen voor de verschillende technieken")
    meta(name="keywords", content="Laurelle Prijs Nagels Gelish Polygel Kunstnagels Wimperlifting Semi permanente mascara Wimperextentions")

block content
    .prijslijst
        .section
            .heading
                h1 Nagels
                    span.price €
            .product
                p Gelish Handen
                    span.price 30
                p Gelish Voeten
                    span.price 30
                p Gelish Voeten + Voetverzorging
                    span.price 40
                p Polygel + Gelish
                    span.price 40
                p Verwijderen Gelish
                    span.price 15
                p Verwijderen Polygel
                    span.price 20
        .section
            .heading
                h1 Wimpers
                    span.price €
            .product
                p Wimperlifting
                    span.price 35
                p Wimperlifting + Semi permanente mascara
                    span.price 45
                p Semi-permanente mascara
                    span.price 15
                p Wimperextentions
                p.subproduct Allergietest
                    span.price 30
                p.subproduct Niewe set one by one
                    span.price 65
                p.subproduct Snelle bijwerking
                    span.price 30
                p.subproduct Soft bijwerking
                    span.price 40
                p.subproduct Glamour bijwerking
                    span.price 50
                
            