extends template/main.pug


block head
    meta(name="description", content="Ontdek hier de prijzen voor de verschillende technieken")
    meta(name="keywords", content="Laurelle Prijs Nagels Gelish Polygel Kunstnagels Wimperlifting Semi permanente mascara Wimperextentions")

block content
    .prijslijst
        .section
            .heading
                h1 Nagels
                    span.price €
            .product
                p Gelish Handen
                    span.price 30
                p Gelish Voeten
                    span.price 30
                p Gelish Voeten + Voetverzorging
                    span.price 40
                p Polygel + Gelish
                    span.price 40
                p Verwijderen Gelish
                    span.price 15
                p Verwijderen Polygel
                    span.price 20
                
            